<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcareapplication">
    <!-- network useage permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".PopupRecordActivity"
            android:theme="@style/mytheme"/>
            <!--android:theme="@style/Theme.AppCompat.Dialog"-->

        <activity android:name=".SolutionActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".ManageActivity" /> <!-- popup activity -->

        <activity
            android:name=".PopupContentActivity"
            android:theme="@style/mytheme" /> <!-- main activity -->
        <activity android:name=".TutorialActivity" />
        <activity android:name=".ContentListActivity" />
        <activity android:name=".dbInfoActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>